.navbar {
	line-height: 40px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background-color: white;

	.navbar-brand {
		color: #e65e21;
	}

	.container-fluid {
		@media screen and (min-width: 576px) {
			width: 80%;
			margin: auto;
		}

		.btn {
			border-radius: 25px;
			box-shadow: none;

			@media screen and (min-width: 576px) {
				animation-delay: 0.7s;
			}
		}
	}
}
